<!doctype html>
<html lang="en" ng-app="sixStringApp">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>six$trings | a word game</title>
        <link href="https://fonts.googleapis.com/css?family=Faster+One|Poppins:300,400,700" rel="stylesheet">
    </head>

    <body>
        <div class="page-container">

            <header>
                <h1 class="">six$trings</h1>
                <nav>
                    <ul>
                        <li><a ui-sref='gameParent.login'>logout user</a></li>
                        <li><a ui-sref='gameParent.start'>how to play</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <ui-view>
                <section class = 'welcome-screen'>
                <h2>six$trings</h2>
                <h3>a word game</h3>
                <button><a ui-sref='gameParent.newuser'>create new user</a></button>
                <button><a ui-sref='gameParent.login'>login my account</a></button>
                <button><a ui-sref='gameParent.start'>how to play</a></button>
              </section></ui-view>
            </main>

        <footer>
            &copy; Adashaval Productions 2017 | all rights reserved
        </footer>

    </div>
</body>

</html>
