.word-setup-wrapper {
    h4 {
        @include main-btn;
        background: $red;
        font-size: 1rem;
        height: 25px;
        margin: 10px auto;
        width: 80px;

        &:hover {
            transform: none;
            background: $red;
        }
    }

    table {
        margin: 0 auto;
        width: 400px;
    }
}

.word-heading {
    border-bottom: 2px solid $brown;
    font: 700 1.5rem/1 $pop;
}

.word-row-words {
    line-height: 1.5;
    &.correct {
      color: rgba($green, .4);
      font-weight:  700;
    }
}

.word-word {
    text-transform: uppercase;
}
.tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 25px;
    width: 400px;

    span {
        @include btn;
        font-size: 1.3rem;
        height: 50px;
        margin: 7px;
        padding-top: 18px;
        width: 75px;
        &.tile-correct {
          visibility: hidden;
        }
    }
}

.guess-form {
    margin: 5px auto;

    p {
        background-color: $gold;
        border: 2px solid $gold;
        color: black;
        font: 700 1.4rem/1 $pop;
        text-align: center;
        text-transform: uppercase;
        width: 200px;
        height: 45px;
        float:left;
        margin-left: 50px;
        padding-top: 12px;

    }
}

.clearguess-btn {
    @include btn;
    background: $red;
    border-radius: 0;
    font-size: 1.4rem;
    padding: 5px;
    float: left;
}

.guess-btn {
    @include btn;
    background-color: $green;
    padding: 10px;
    border-radius: 0;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 1rem;
    float: right;
    width: 120px;
    margin-right: 65px;
    max-width: inherit;
    &:hover {
      background-color: darken($green, 20);
    }
}
