nav {
    ul {
        float: right;
    }

    li {
        @include btn;
        display: inline-block;
    }
}

header {
    h1 {
        float: left;
        font: 2.5rem/1 $fast;
        text-align: left;
    }
}
