.start-section {

  h3 {
    font: 700 1.5rem/1 $pop;
    margin-bottom:  30px;
  }

    ol li {
      text-align: left;
      margin: 10px 50px 10px;
      list-style-type: decimal;
      line-height: 1;
    }

    .start-btn {
        @include btn;
        border: none;
        display: block;
        font: 700 1.4rem/1 $pop;
        margin: 30px auto;
        max-width: 200px;
        padding: 20px;
        background-color: $orange;
    }
    .tile-wrapper {
      width: 300px;
      margin: 0 auto;
    }
}
