//colors
$white: rgb(255,248,238);
$gold: rgb(255,227,142);
$orange: rgb(240,135,76);
$brown: rgb(80,49,13);
$red: rgb(191,41,41);
$green: rgb(13,181,45);

//fonts
$fast: 'Faster One', cursive;
$pop: 'Poppins', sans-serif;
$lucky: 'Luckiest Guy', cursive;
