@import 'partials/reset';
@import 'partials/styling';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/login';
@import 'partials/newuser';
@import 'partials/wins';
@import 'partials/leaderboard';
@import 'partials/game';
@import 'partials/start';
@import 'partials/modifiers';

body {
    background: $brown url('/img/strings1.jpg') center center/cover no-repeat fixed;
    font: 16px/1.6 $pop;
    text-align: center;
    width: 100%;
}

h2 {
  color: $orange;
  font: 2rem/1 $fast;
}

a {
    text-decoration: none;
    color: $gold;

    &:hover {
        color: $white;
    }
}

.page-container {
    border-radius: 20px;
    margin: 0 auto;
    max-width: 500px;
}

main {
    background: rgba($white, .9);
    border: 5px solid $brown;
    border-radius: 20px;
    box-shadow: 1px 1px 20px $brown;
    clear: both;
}
.welcome-screen {
  button {
        @include btn;
        border: none;
        display: block;
        font: 700 1.4rem/1 $pop;
        margin: 10px auto;
        max-width: 400px;
        padding: 20px;
    }
}


footer {
    color: $gold;
    font: 700 1rem/1 $pop;
}
