<!doctype html>
<div class="game-play">

    <article class="word-setup-wrapper">
        <h4 class="timer">00:00</h4>
        <table class="word-table">
            <tr class="word-row-headings">
                <th class="word-heading">#</th>
                <th class="word-heading">clues</th>
                <th class="word-heading">solutions</th>
            </tr>
            <tr class="word-row-words">
                <td>1</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
            <tr class="word-row-words">
                <td>2</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
            <tr class="word-row-words">
                <td>3</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
            <tr class="word-row-words">
                <td>4</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
            <tr class="word-row-words">
                <td>5</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
            <tr class="word-row-words">
                <td>6</td>
                <td class="word-clues">this is a longish clue</td>
                <td class="word-word">letters</td>
            </tr>
        </table>
    </article>

    <section class="guess-section">
        <div class="guess-wrapper">
            <form id="guessForm" class="guess-form" name="guessForm">
                <p class="user-guess" placeholder="guess">hippopots</p>
                <button class="clearguess-btn">X</button>
                <button class="guess-btn">guess</button>
            </form>
        </div>
    </section>

    <section class="tile-section">
        <article class="tile-wrapper">
            <span>ABC</span>
            <span>EX</span>
            <span>ML</span>
            <span>POC</span>
            <span>ABC</span>
            <span>UI</span>
            <span>SHE</span>
            <span>AB</span>
            <span>KLG</span>
            <span>KWQ</span>
            <span>AB</span>
            <span>XY</span>
            <span>LOO</span>
            <span>PEE</span>
            <span>IL</span>
            <span>ED</span>
        </article>
    </section>
</div>
