<section class='welcome-screen'>

  <article class='title-screen'>
    <h4 class='zoomIn'>six$trings</h4>
    <p>a word game</p>
    <video src='img/guitar.mp4' autoplay='true' loop='true' <video src='img/guitar.mp4' autoplay='true' loop='true' muted='true'></video>
  </article>
  <button><a ui-sref='gameParent.newuser'>create new user</a></button>
  <button><a ui-sref='gameParent.login'>login my account</a></button>
  <button class='start'><a ui-sref='gameParent.start'>how to play</a></button>
</section>
