<section class='leaderboard-section'>
  <h2>leaderboard</h2>
  <table>
    <tr>
      <th class='leaderboard-heading'>#</th>
      <th class='leaderboard-heading'>username</th>
      <th class='leaderboard-heading'>time</th>
    </tr>
    <tr>
      <td class='leaderboard-entry'>1</td>
      <td class='leaderboard-entry'>hippo</td>
      <td class='leaderboard-entry'>3:40</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>2</td>
      <td class='leaderboard-entry'>chicken</td>
      <td class='leaderboard-entry'>3:50</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>3</td>
      <td class='leaderboard-entry'>turkey</td>
      <td class='leaderboard-entry'>3:55</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>4</td>
      <td class='leaderboard-entry'>squab</td>
      <td class='leaderboard-entry'>4:00</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>5</td>
      <td class='leaderboard-entry'>peacock</td>
      <td class='leaderboard-entry'>4:10</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>6</td>
      <td class='leaderboard-entry'>pangolin</td>
      <td class='leaderboard-entry'>4:20</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>7</td>
      <td class='leaderboard-entry'>frog</td>
      <td class='leaderboard-entry'>4:30</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>8</td>
      <td class='leaderboard-entry'>swan</td>
      <td class='leaderboard-entry'>4:40</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>9</td>
      <td class='leaderboard-entry'>iguana</td>
      <td class='leaderboard-entry'>5:00</td>
    </tr>
    <tr>
      <td class='leaderboard-entry'>10</td>
      <td class='leaderboard-entry'>clown</td>
      <td class='leaderboard-entry'>5:10</td>
    </tr>
  </table>
  <button>play again</button>
</section>
