<section class="newuser-wrapper">
  <form id="newuserForm" ng-submit="userSubmit('new')" class="new-user-form" name="newUserForm" novalidate>
    <h2>create my new account</h2>
    <input ng-model="inputInfo.username" type="text" placeholder="username" required>
    <input ng-model="inputInfo.email" type="email" placeholder="email" required>
    <input ng-model="inputInfo.password" type="password" placeholder="password" required>
    <select ng-model="inputInfo.pickone">
      <option value='pick one' selected>pick one</option>
      <option value="cookie">cookie</option>
      <option value="kitten">kitten</option>
      <option value="puppy">puppy</option>
      <option value="taco">taco</option>
    </select>

    <button type="submit" ng-submit="userSubmit('new')">new user</button>
  </form>
</section>
