<!doctype html>

<section class='start-section'>
  <h2>Six$strings is a word game.</h2>
  <ol>
    <li>Find the 6 words to match the six clues.</li>
    <li>Find the 6 words in any order.</li>
    <li>There is no penalty for a wrong guess.</li>
    <li>When all 6 words are found, elapsed time is recorded.</li>
    <li>The leaderboard displays the 10 best times.</li>
  </ol>
  <p>
    If the clue is 'vegetable often mashed', tap: &nbsp;
  </p>
  <div class='tile-wrapper'>
    <span>PO</span>
    <span>TA</span>
    <span>TO</span>
    <p>then tap &nbsp;</p>
    <button class='guess-btn'>GUESS</button>
  </div>

  <button class='start-btn'><a ui-sref='gameParent.gameCtrl'>let's play!</a></button>
</section>
